<nav
  class="navbar navbar-expand-md navbar-light bg-light mb-3 sticky-top shadow"
>
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'fgtc-logo-text.png', height: '40' %>
    <% end %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link fs-5 #{'active' if page.nil?}" %>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle fs-5 <%= 'active' if dropdown == 'about' %>"
            id="aboutDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li>
              <%= link_to 'About Us',
                          about_path(page: 'about_us'),
                          class: 'dropdown-item'
              %>
            <li>
            <li>
              <%= link_to 'Our Location',
                          about_path(page: 'location'),
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'Testimonials',
                          about_path(page: 'testimonials'),
                          class: 'dropdown-item'
              %>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle fs-5 <%= 'active' if dropdown == 'classes' %>"
            id="classesDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Classes
          </a>
          <ul class="dropdown-menu" aria-labelledby="classesDropdown">
            <li><span class="dropdown-header">Gymnastics Classes</span></li>
            <li>
              <%= link_to 'Programs Overview',
                          classes_path(page: 'programs-overview'),
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'School Year Recreational Program',
                          classes_path(page: 'school-rec-program'),
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'Summer Recreational Program',
                          classes_path(page: 'summer-rec-program'),
                          class: 'dropdown-item'
              %>
            </li>
            <li><span class="dropdown-header">Camps</span></li>
            <li>
              <%= link_to 'Winter Break Camp',
                          classes_path(page: 'winter-camp'),
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'Spring Break Camp',
                          classes_path(page: 'spring-camp'),
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'Summer Camp',
                          classes_path(page: 'summer-camp'),
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'School Year Day Camps',
                          classes_path(page: 'school-day-camps'),
                          class: 'dropdown-item'
              %>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle fs-5"
            id="teamsDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Teams
          </a>
          <ul class="dropdown-menu" aria-labelledby="teamsDropdown">
            <li>
              <%= link_to 'Boys Competitive Teams',
                          '#!',
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'Girls Competitive Teams',
                          '#!',
                          class: 'dropdown-item'
              %>
            </li>
            <li>
              <%= link_to 'Intensive Teams',
                          '#!',
                          class: 'dropdown-item'
              %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Facility',
                      '#!',
                      class: 'nav-link fs-5'
          %>
        </li>
        <li class="nav-item">
          <%= link_to 'Gallery',
                      '#!',
                      class: 'nav-link fs-5'
          %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact',
                      '#!',
                      class: 'nav-link fs-5'
          %>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle fs-5"
            id="accountDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="accountDropdown">
            <li>
              <a
                href="https://www.iclassprov2.com/parentportal/floridagymnasticstrainingcenter?new-url"
                class="dropdown-item"
                target="_blank"
              >
                Parent Login
              </a>
            </li>
            <li>
              <a
                href="https://www.iclassprov2.com/parentportal/floridagymnasticstrainingcenter/register?new-url"
                class="dropdown-item"
                target="_blank"
              >
                Create Account
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
