<!DOCTYPE html>
<html>
  <head>
    <title>FGTC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('torch.png') %>
  </head>

  <body id="clients">
    <%= render 'components/navbar', page: @page, dropdown: @dropdown %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render 'components/footer' %>
  </body>
</html>
